<%= form_for(@document, :html => { :multipart => true }) do |f| %>
  <%= render :partial => "shared/form_error_messages", :locals => { :target => @document } %>
  <%= f.hidden_field :folder_id %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <%= f.fields_for :revisions do |revision_form| %>
    <%= render :partial => 'revisions/form', :locals => { :f => revision_form } %>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>