<h2><%= image_tag("icons/cabinet-icon-small.png") %> <span>Cabinets</span></h2>

<%= link_to "Create new cabinet", new_cabinet_path, :class => "button" %>

<ul class="resource-list">
<% @cabinets.each do |cabinet| %>
  <li class="resource-list-item">
    <div class="icon">
      <%= link_to image_tag("icons/cabinet-icon.png"), cabinet %>
    </div>
    <div class="info">
      <h4><%= link_to cabinet.name, cabinet %></h4>
      <p><%= cabinet.description %></p>
    </div>
  </li>
<% end %>
</ul>